<mat-toolbar color="primary">
    
    <span><a routerLink="/">Tickets</a></span>
    <span class="spacer"></span>
    <ul>

        <li >
            <a *ngIf="!userService.isUserLoggedIn() && !OrgService.isOrgLoggedIn()" mat-button (click)="openLoginDialog()" routerLinkActive="mat-accent">Login</a>
        </li>

        <li >
                <a *ngIf="!OrgService.isOrgLoggedIn() && !userService.isUserLoggedIn()" mat-button (click)="openDialog()" routerLinkActive="mat-accent">Signup</a>
            </li>
        <li >
            <button *ngIf="userService.isUserLoggedIn()"mat-button (click)="userlogout()">Logout</button>
        </li>
        <li >
            <button *ngIf="OrgService.isOrgLoggedIn()" mat-button (click)="orglogout()">Logout</button>
        </li>

    </ul>
</mat-toolbar>
